@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Phạm Thanh Hải
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0967 021 502
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ThanhHaiPC2002@gmail.com">ThanhHaiPC2002@gmail.com</a><br />
</address>